.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #282c34;
}

.wrap {
    border: 2px solid #61dafb;
    border-radius: 5px;
    padding: 10px;
    max-height: 250px;
    height: 100%;
    box-sizing: border-box;
}

.wrap + .wrap {
    margin-left: 20px;
}

